/* Corps de la page */
body {
   width: 1200px;
   text-decoration: none;
   background-color: #fff;
   margin: auto;

}

/* Header */
.bordure-haut {
   font-family: 'Quattrocento Sans', 'Roboto';
   background-color: #333;
   text-align: center;
   padding: 42px 0px;
   font-size: 1.7rem;
   margin: auto;
   color: #fff;
}

/* h1 (Moschino) */

h1 {
   text-align: center;
   color: #000;
   font-family: 'Herr Von Muellerhoff';
   font-weight: 100;
   font-size: 3.9rem;
}

/* premier h2 (collection d'été) */
.sous-titre {
   text-align: center;
   font-family: 'Quattrocento Sans', 'Roboto';
   font-weight: 200;
   color: #000;
   font-size: 0.9rem;
   margin-top: -40px;
}

/* NAV */
nav {
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   width: 80%;
   margin: auto;
   margin-top: 30px;

}

/* ul */
.menu-ul {
   display: flex;
   list-style: none;
   justify-content: center;
   text-transform: uppercase;
   align-items: center;

}

/* li */
.menu {

   margin-left: 20px;
   font-family: 'Oswald';
   text-align: center;
   font-size: 1.3rem;
   cursor: pointer;
   font-weight: 900;

}

/* li + a href */

.menu a {
   text-decoration: none;
   color: #000;

}


.menu a:hover {
   color: #e7e703;
   transition: 0.9s;
   -webkit-transition: 0.9s;
   -moz-transition: 0.9s;
   -ms-transition: 0.9s;
   -o-transition: 0.9s;

}

/* menu smartphone */

#menu-burger {
   display: none;
}

/* création trait menu burger */

.bar1,
.bar2,
.bar3 {
   width: 35px;
   height: 7px;
   background-color: #000;
   margin: 7px 0;
   border-radius: 5px;
   transition: 0.4s;

}

.nav-smartphone {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.9);
   overflow-x: hidden;
   transition: 0.6s;
   -webkit-transition: 0.6s;
   -moz-transition: 0.6s;
   -ms-transition: 0.6s;
   -o-transition: 0.6s;

}

/* le menu a l'intérieur du menu burger */

.nav-smartphone-liens {
   position: relative;
   top: 25%;
   width: 100%;
   text-align: center;
}

.nav-smartphone a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
}



.nav-smartphone a:hover,
.nav-smartphone a:focus {
   color: #f1f1f1;
}

.nav-smartphone .bouton-fermer {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;

}


/* section */
.article {
   width: 80%;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}

.img-article {
   width: 100%;
}

.photo-image {
   width: 32%;
   margin-top: 42px;
}

.photo-texte {
   text-transform: uppercase;
   margin-bottom: 10px;
   font-size: 1rem;
   margin: 0;
   font-weight: 700;
   font-family: 'Oswald';
   line-height: 2.5rem;

}

.photo-texte:hover {
   opacity: 0.5;
   cursor: pointer;
   transition: 0.9s;
   -webkit-transition: 0.9s;
   -moz-transition: 0.9s;
   -ms-transition: 0.9s;
   -o-transition: 0.9s;
}

.sous-texte {

   text-align: center;
   word-spacing: 3px;


}

.sous-texte:hover {
   opacity: 0.5;
   cursor: pointer;
   transition: 0.9s;
   -webkit-transition: 0.9s;
   -moz-transition: 0.9s;
   -ms-transition: 0.9s;
   -o-transition: 0.9s;

}

/* pagination ( ul ) */
.changement-de-page {
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   font-family: 'Oswald';
   width: 90%;
   margin: 45px 0;
}

/* li pagination */
.border-sous-image {
   border: lightgrey solid;
   border-left-width: 12px;
   border-right-width: 12px;
   background-color: lightgray;
   color: #FFF;
   cursor: pointer;
   margin-left: 9px;

}

.border-sous-image a {

   color: #FFF;
   text-decoration: none;

}

/* pagination page 1 en jaune */

.border-sous-image:nth-child(1) {
   border: solid;
   border-left-width: 12px;
   border-right-width: 12px;
   border-color: #e7e703;
   background-color: #e7e703;
   color: #fff;
}

/* pagination suite */


.border-sous-image:nth-child(3) {
   letter-spacing: 2px;
}

.border-sous-image:hover {
   border-color: #e7e703;
   background-color: #e7e703;
   transition: 0.9s;
   -webkit-transition: 0.9s;
   -moz-transition: 0.9s;
   -ms-transition: 0.9s;
   -o-transition: 0.9s;
}

/* Footer */
footer {
   background-color: #333;
   margin: 0 auto;
   padding: 15px;
}

/* texte dans le bloc */
h1.titre-fin {
   color: #fff;
   font-family: 'Herr Von Muellerhoff';
   font-size: 2.6rem;
   text-align: center;
   align-items: center;
   line-height: 1.4rem;
}

/* copyright */
.dernier-mots {
   text-align: center;
   color: #FFF;
   font-size: 0.9rem;
   align-items: center;
   font-family: "roboto";
}





/* responsive */
@media all and (max-width: 768px) {

   /* corps de la page */
   body {
      width: 100%;
   }


   /* h2 collection d'été */

   .sous-titre {
      font-size: 1.22rem;
   }


   .bordure-haut {
      padding: 20px 0;
      font-size: 1.1rem;

   }

   /* NAV */

   .nav {
      display: flex;
      justify-content: center;
      padding: 5px;
   }

   .menu {
      font-size: 2.5rem;
      padding: 5px;
   }


   .menu-ul {
      display: none;

   }

   #menu-burger {
      display: initial;
   }

   /* SECTION */
   .article {
      width: 90%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

   }


   .photo-image {
      width: 100%; 

   }

   .photo-texte {
      font-size: 1.30rem;
   }

   .sous-texte {
      font-size: 1.64rem;
   }

   /* FOOTER */
   footer {


      padding: 4px;
   }

   /* texte dans le bloc */
   h1.titre-fin {
      line-height: 1.1rem;

   }

   /* copyright */
   .dernier-mots {

      font-size: 1.1rem;


   }



}